<div class="wrapper container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <app-header></app-header>
    
            <div class="content">
                <div class="titleBar clearfix"></div>
                <div class="messages"></div>
                <div class="content">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-3">
                          <app-selection-panel></app-selection-panel>
                      </div>
        
                      <div class="col-lg-9 col-md-9 col-sm-12">
                          <app-data-sheet></app-data-sheet>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <app-data-table></app-data-table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-12">
            <app-company-info></app-company-info>
        </div>
    </div>
  </div>
  